@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body{
  background-color: #202B34;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: aliceblue;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  padding: 40px;
}

.botones{
  display: flex;
  gap: 25px;
}

.botones button{
  width: 190px;
  height: 100px;
  background-color: #F59827;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}
.botones button:active{
  background-color: #ae1d51;
}

@media only screen and (max-width: 370px){

  .botones button{
    width:100px;
    height: 70px;
    font-size: 25px;
  }


}